//META{"name":"ThemeFixer","description":"ThemeFixerCSS for transparent themes","author":"DevilBro","version":"1.0.2"}*//

//META{"name":"My_New_Theme","description":"A simple tutorial theme","author":"sopernik566","version":"1.0"}*//


.dividerContent-2L12VI {
    display: -webkit-box;
        -webkit-box-align: center;
    line-height: 0px;
    font-weight: 100;
    font-size: 5px;
}

element.style {
}

.theme-dark .messageGroupBlocked-3wrQQX:hover {
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.16);
    box-shadow: 0 1px 3px rgba(0,0,0,.16);
}

.theme-dark .messageGroupBlocked-3wrQQX {
    background: #34373c;
    border-color: #2f3136;
}

.messageGroupBlockedBtn-1PBBh- {
    text-align: center;
    font-size: 0px;
    font-weight: 500;
    padding: 0px 0;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0;
    color: var(--interactive-normal);
}

element.style {
}

.containerCozy-jafyvG .divider-32i8lo {
    border: none;
    border-bottom: 0px solid transparent;
    margin: 2px 20px -20px;
}

.dividerContent-2L12VI {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 0px;
    font-weight: 500;
    font-size: 10px;
}

    border-top: 0px solid hsla(0,0%,100%,.06);
}

.channelTextArea-rNsIhG {
    padding-top: 0px;
    margin-bottom: 20px;
}

.theme-dark .channelTextArea-rNsIhG {
    border-top: 0px solid hsla(0,0%,100%,.06);
}

.channelTextArea-rNsIhG {
    padding-top: 0px;
    margin-bottom: 30px;
}

.dividerContent-2L12VI {
    display: -webkit-box;
    display: -ms-flexbox;
    display: table;
    -webkit-box-align: center;
    -ms-flex-align: center;
    line-height: 0px;
    font-weight: 500;
    font-size: 6px;
}

.item-2hkk8m {
    position: absolute;
    display: block;
    width: 8px;
    border-radius: 0 4px 4px 0;
    margin-left: -4px;
    background-color: #ff0000;
}

.theme-light {
    --header-primary: #060607;
    --header-secondary: #4f5660;
    --text-normal: #2e3338;
    --text-muted: #747f8d;
    --text-link: #0051ff;
    --channels-default: #f18383;
    --interactive-normal: #4f5660;
    --interactive-hover: #2e3338;
    --interactive-active: #060607;
    --interactive-muted: #ccaeae;
    --background-primary: #dedede;
    --background-secondary: #dedede;
    --background-tertiary: #e3e5e8;
    --background-accent: #43b581;
    --background-floating: #fff;
    --background-modifier-hover: #ccaeae45;
    --background-modifier-active: rgba(116,127,141,0.16);
    --background-modifier-selected: #43b58145;
    --background-modifier-accent: rgba(6,6,7,0.08);
    --elevation-low: 0 1px 0 rgba(6,6,7,0.1),0 1.5px 0 rgba(6,6,7,0.025),0 2px 0 rgba(6,6,7,0.025);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.16);
    --guild-header-text-shadow: 0 1px 1px hsla(0,0%,100%,0.4);
    --channeltextarea-background: #ebedef;
    --activity-card-background: #fff;
    --deprecated-panel-background: #dedede;
    --deprecated-card-bg: #f8f9f9;
    --deprecated-card-editable-bg: rgba(246,246,247,0.6);
    --deprecated-store-bg: #f8f9f9;
    --deprecated-quickswitcher-input-background: #fff;
    --deprecated-quickswitcher-input-placeholder: rgba(79,84,92,0.3);
    --deprecated-text-input-bg: rgba(79,84,92,0.02);
    --deprecated-text-input-border: rgba(79,84,92,0.3);
    --deprecated-text-input-border-hover: #b9bbbe;
    --deprecated-text-input-border-disabled: #dcddde;
    --deprecated-text-input-prefix: #b9bbbe;
}

.closeButton-1tv5uR {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 36px;
    flex: 0 0 36px;
    border-width: 2px;
    border-style: ;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.theme-light .headerNormal-T_seeN.header-2BwW8b.size16-14cGz5 .creationDate {
    color: #5484cc;
}

<style>…</style>
.theme-light .headerNormal-T_seeN.header-2BwW8b.size16-14cGz5 .creationDate {
    color: #5484cc;
}

.expandedFolderBackground-2sPsd- {
    position: absolute;
    top: 0;
    left: 12px;
    bottom: 8px;
    width: 48px;
    border-radius: 24px;
    transition: background-color .15s ease-out;
    background-color: #f18383;
}

@keyframes transitionIn {
    0% {
        opacity: 0;
        transform: translateX(-5%);
    }
    50% {
        transform: none;
    }
    100% {
        opacity: 1;
    }
}

#aiv-preview-window {
    position: fixed;
    width: 100%;
    height: 100%;
}

#aiv-preview-window .imageWrapper-2p5ogY {
    margin: auto;
}

#aiv-preview-window {
    position: fixed;
    width: 115%;
    height: 115%;
}

#aiv-preview-window .imageWrapper-2p5ogY {
    margin: auto;
}

.disableColor-MwOAZf, .iconBackgroundTierNone-3MPhMJ, .iconBackgroundTierOne-2LhaMB, .iconBackgroundTierThree-3qw3JX, .iconBackgroundTierTwo-3bCmdc {
    color: #51bf57;
}

.childWrapper-anI2G9 {
    -webkit-transition: background-color .15s ease-out,color .15s ease-out;
    transition: background-color .15s ease-out,color .15s ease-out;
    background-color: #f18383;
    color: #dedede #dedede;
}

.childWrapper-anI2G9 {
    -webkit-transition: background-color .15s ease-out,color .15s ease-out;
    transition: background-color .15s ease-out,color .15s ease-out;
    background-color: #dedede;
    color: #dedede;
}

.childWrapper-anI2G9 {
    -webkit-transition: background-color .15s ease-out,color .15s ease-out;
    transition: background-color .15s ease-out,color .15s ease-out;
    background-color: #f18383;
    color: #dedede;
}

a {
    color: #e3e5e8;
    text-decoration: none;
    cursor: pointer;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    color: #fff;
    background-color: #f5a9a9;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    color: #fff;
    background-color: #43b581;
}

.disableColor-MwOAZf, .iconBackgroundTierNone-3MPhMJ, .iconBackgroundTierOne-2LhaMB, .iconBackgroundTierThree-3qw3JX, .iconBackgroundTierTwo-3bCmdc {
    color: #43b581;
}

.theme-light .attachment-33OFj0 {
    border-color: #ff0000;
}

.theme-light .scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: #f18383;
}

.theme-light .closeButton-1tv5uR {
    border-color: #f18383;
}

.icon-22AiRD {
    display: block;
    width: 20px;
    height: 20px;
    -webkit-app-region: no-drag;
    color: #ff0000;
}

.header-QKLPzZ .BDFDB-textscroll {
    color: #5484cc;
}

.connectedAccount-36nQx7 {
    border-radius: 3px;
    margin-top: 20px;
    padding: 8px 14px 8px 8px;
    width: 240px;
    border: 1px solid;
    border-color: rgba(244, 3, 3, 0.22);
}

.uploadModal-2ifh8j .footer-3mqk7D {
    border-radius: 0 0 10px 10px;
    background-color: #43b581;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 10px;
}


.layout-2DM8Md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    height: 42px;
    padding: 0 4px;
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
  background-color: #f18383;
  border: 1px solid #7289da;
}

.theme-light .bda-slist li {
    background-color: #b543433b;
    color: #4f545c;
    border-color: #dcddde;
}

.channelTextArea-rNsIhG {
    margin-top: 0px;
    margin-bottom: 30px;
}
